<template>
  <div class="hello">
    <b-button v-b-modal="'myModal'">Novo Jogo</b-button>
    <b-modal id="myModal" @ok="pegaPerguntas">
      Iniciar Jogo

      <b-form-input id="novo_jogo"
                      type="text"
                      v-model="nome"
                      required
                      placeholder="Informe o seu nome">
      </b-form-input>
    </b-modal>

    <div v-if="perguntas.length">
      <b-card :title="nome"
              :sub-title="`Prêmios acumulados: R$ ${valorPremio}`">
          <h2>
            {{ contador+1 }} : {{ perguntas.length }}
          </h2>

          <h3>
            {{ perguntas[contador].titulo }}
          </h3>

          <b-button v-for="alternativa in perguntas[contador].alternativas" :key="alternativa.id" @click="verificaResposta(alternativa.id, perguntas[contador].resposta)"> {{alternativa.descricao}} </b-button> 
      </b-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      nome: '',
      perguntas:'',
      valorPremio: 0,
      contador: 0
    }
  },
  methods: {
    chamaModal() {
      console.log("Oi")
    },

    pegaPerguntas() {
      let promessa = axios.get('http://localhost:5000/perguntas');

      promessa.then((resposta) => {
        this.perguntas = resposta.data;
        console.log(this.perguntas);
      }).catch((error) => {
        console.log(error);
      })
    },

    verificaResposta(idResp, idPergunta) {
      if (idResp == idPergunta) {
        this.contador++ 
      }
      else {
        const promessa = axios.post('http://localhost:5000/jogador', {nome: this.nome, pontuacao: this.valorPremio })

        promessa
          .then((retorno) => {
            console.log(retorno)
          })
          .catch((erro) => { console.log(erro)})
      }


    }


  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
